{% if request.user.is_authenticated %}
{% load static %}
<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spazio Transportes</title>
    <link rel="icon" type="image/x-icon" href={%static "assets/favicon.ico" %}>
    <link rel="stylesheet" href={%static "header.css" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
{% if perms.admin.can_view_all %}
 <header class="header">
  <div class="container-menu">
    <div class="logo">
      <img src="{%static "assets/favicon.ico"%}">
      <a>SPAZIO</a>
    </div>
    <nav class="menu">
      <div class="head">
        <div class="logo"><img src={%static "assets/favicon.ico"%}></div>
        <button type="button" class="close-menu-btn"></button>
      </div>
      <ul>
        <li class="dropdown">
          <a href="/rotasadm">🛣️ ROTAS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li class="dropdown">
              <a href="/empresas">🏢 EMPRESAS</a>
              <i class="fa-solid fa-chevron-down"></i>
              <ul class="sub-menu">
                <li><a href="/addempresa"><span>🏢 CADASTRAR EMPRESA</span></a></li>
              </ul>
            </li>
            <li><a href="/addrota"><span>📦 CADASTRAR SERVIÇO</span></a></li>
            <li><a href="/view_urotas"><span>📍 ROTAS E CAMINHÕES</span></a></li>
            <li><a href="/addcarro"><span>🚐 CADASTRAR VEÍCULO</span></a></li>
            <li><a href="/cad_rota"><span>🛣️ LANÇAR ROTA</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/abastecimentosadm">⛽ ABASTECIMENTOS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_abastecimento"><span>⛽ LANÇAR ABASTECIMENTO</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/users">👷🏼 MOTORISTAS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_users"><span>👷🏼 CADASTRAR MOTORISTA</span></a></li>
            <li><a href="/cad_nf"><span>🗃️ LANÇAR NOTA FISCAL</span></a></li>
            <li><a href="/criar_perfil"><span>📱 CRIAR PERFIL</span></a></li>
            <li><a href="/perfil"><span>📱 VER PERFIL</span></a></li>
          </ul>
        </li>
        <li><a href="/admin">📊 ADMINISTRADOR</a></li>
        <li class="dropdown">
          <a href="/recibos">🗃️ RECIBOS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_recibos"><span>🗃️ LANÇAR RECIBO</span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <a class="home-btn icon-btn" href="/inicio"><i class="fa-solid fa-house"></i></a>
      <button type="button" class="open-menu-btn">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>
    </div>
  </div>
  <!--<a href="/inicio"><h1>ROTAS</h1></a>-->
</header>
{%else%}
<header class="header">
  <div class="container-menu">
    <div class="logo">
      <img src="{%static "assets/favicon.ico"%}">
      <a>SPAZIO</a>
    </div>
    <div class="header-right">
      <a class="home-btn icon-btn" href="/inicio"><i class="fa-solid fa-house"></i></a>
    </div>
  </div>
  <!--<a href="/inicio"><h1>ROTAS</h1></a>-->
</header>
{%endif%}

<body style="background-color:rgba(255, 196, 0, 0.651)">
  <div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1 id="h1">{% if db %}EDITAR ROTA{%else%}CADASTRO DE ROTAS{% endif %}</h1>
  </div>  
    {% if db %}
  <div class="col-8 m-auto pt-2 pb-2 text-center">  
    <h2>Motorista: {{db.user}} </h2>
    {% endif %}
  </div>
  
  <div class="col-8 m-auto pt-4 pb-2 text-center">
    <div id="result"></div>
    <!-- {{form.as_p}} -->
    <form name="form" id="form" action="{%if db %}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        {% if db %}
        <label for="uday">Dia:</label>
        <input type="text" id="uday" name="uday" value="{{db.dia}}">

        {% else %}
        <div class="form-group mt-4">Data: {{day}}</div>
        {% endif %}
        
        <div class="form-group mt-4">
        <label> Selecione uma rota ou mais!</label></br>
          <form>
             {%for rota in rotas%}
              <input type="checkbox" name="nome_rota" value="{{rota.vlr}}/{{rota.nome}}/{{rota.empresa}}/{{rota.receber_vlr}}"> {{rota.empresa}} - {{rota.nome}} - R${{rota.vlr}} <br>
             {%endfor%}  
          </form>
        </div>

        <div class="form-group mt-4">
          <label> Selecione um veículo:</label></br>
          {% if db %}
            <input name="rcarro" type="checkbox" value="{{db.carro}}" checked> {{db.carro}}
          {% for modelo in modelos %}
            <input name="rcarro" type="checkbox" value="{{modelo.nome}}"> {{modelo.nome}}</br>
          {% endfor %}
          {% endif %}
          {% for modelo in modelos %}
            <input name="rcarro" type="checkbox" value="{{modelo.nome}}"> {{modelo.nome}}</br>
          {% endfor %}
        </div>

         {% if db %}
          <div class="form-group mt-4">
          <label> Selecione um status:</label>
           <select name="rstatus" id="rstatus">
                <option selected >{{dbs.status}}</option>
                <option value="not">NÃO PAGO</option>
                <option value="PAGO"> PAGO </option>
                <option value="RECEBIDO"> RECEBIDO </option>
            </select>
          </div>
          {% endif %}

          <input type="submit" class="btn btn-success" Value="Concluir"> <a href="{%if perms.admin.can_view_all%}/rotasadm{%else%}/inicio{%endif%}" class="btn btn-info">Voltar</a>
        </div>   
      </form>
  </div>
  <script>
    const menu = document.querySelector('.menu');
    const openMenuBtn = document.querySelector('.open-menu-btn');
    const closeMenuBtn = document.querySelector('.close-menu-btn');         

    [openMenuBtn, closeMenuBtn].forEach((btn) => {
      btn.addEventListener('click', () => {
       menu.classList.toggle('open');
       menu.style.transition = 'transform 0.5s ease';
      });
     });

     menu.addEventListener('transitionend', function() {
       this.removeAttribute('style');
     });
    menu.querySelectorAll('.dropdown > i').forEach((arrow) => {
        arrow.addEventListener('click', function(){
          this.closest('.dropdown').classList.toggle('active');
        });
    });
  </script>
   <script src="{% static 'javascript.js' %}"></script>
</body>
</html>
{% else %}
ACESSO RESTRITO!
{% endif %}