{% if request.user.is_authenticated %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Spazio Transportes </title>
    <link rel="icon" type="image/x-icon" href={%static "assets/favicon.ico" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href={%static 'geral.css' %}>
    <link rel="stylesheet" href={%static 'header.css' %}>
</head>
<style>
    h1{
      margin-top:10%;
    }
    @media(max-width:991px){
      h1{
       margin-top: 20%;
     } 
  }
    @media(max-width:500px){
      h1{
        margin-top: 30%;
      }
      .container-pesquisa{
        margin-top: 30%;
      }
    }
    @media(max-width:400px){
      h1{
        margin-top: 50%;
      }
      .container-pesquisa{
        margin-top: 40%;
      }
    }  
</style>
 <header class="header">
  <div class="container-menu">
    <div class="logo">
      <img src="{%static "assets/favicon.ico"%}">
      <a>SPAZIO</a>
    </div>
    <nav class="menu">
      <div class="head">
        <div class="logo"><img src={%static "assets/favicon.ico"%}></div>
        <button type="button" class="close-menu-btn"></button>
      </div>
      <ul>
        <li class="dropdown">
          <a href="/rotasadm">🛣️ ROTAS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li class="dropdown">
              <a href="/empresas">🏢 EMPRESAS</a>
              <i class="fa-solid fa-chevron-down"></i>
              <ul class="sub-menu">
                <li><a href="/addempresa"><span>🏢 CADASTRAR EMPRESA</span></a></li>
              </ul>
            </li>
            <li><a href="/addrota"><span>📦 CADASTRAR SERVIÇO</span></a></li>
            <li><a href="/view_urotas"><span>📍 ROTAS E CAMINHÕES</span></a></li>
            <li><a href="/addcarro"><span>🚐 CADASTRAR VEÍCULO</span></a></li>
            <li><a href="/cad_rota"><span>🛣️ LANÇAR ROTA</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/abastecimentosadm">⛽ ABASTECIMENTOS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_abastecimento"><span>⛽ LANÇAR ABASTECIMENTO</span></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/users">👷🏼 MOTORISTAS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_users"><span>👷🏼 CADASTRAR MOTORISTA</span></a></li>
            <li><a href="/cad_nf"><span>🗃️ LANÇAR NOTA FISCAL</span></a></li>
            <li><a href="/criar_perfil"><span>📱 CRIAR PERFIL</span></a></li>
            <li><a href="/perfil"><span>📱 VER PERFIL</span></a></li>
          </ul>
        </li>
        <li><a href="/admin">📊 ADMINISTRADOR</a></li>
        <li class="dropdown">
          <a href="/recibos">🗃️ RECIBOS</a>
          <i class="fa-solid fa-chevron-down"></i>
          <ul class="sub-menu">
            <li><a href="/cad_recibos"><span>🗃️ LANÇAR RECIBO</span></a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="header-right">
      <a class="home-btn icon-btn" href="/inicio"><i class="fa-solid fa-house"></i></a>
      <button type="button" class="open-menu-btn">
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>
    </div>
  </div>
  <!--<a href="/inicio"><h1>ROTAS</h1></a>-->
</header>

<body class="body">
  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <h1>ROTAS</h1>
    </div>
    <div class="container">
        <table class="table-resp" id="rotasTable">
            <thead>
                <tr>
                 <th>ID</th>
                 <th>ROTA</th>
                 <th>MOTORISTA</th>
                 <th>EMPRESA</th>
                 <th>VALOR A PAGAR</th>
                 <th>VALOR A RECEBER</th>
                 <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
              {% for rota in rotas %}
                <tr>
                  <td data-label="ID"><input type="checkbox" name="id_rota" class="check" value="{{rota.id}}"{%if chk %}checked{%endif%}>{{rota.id}}</td>
                  <td data-label="ROTA">{{rota.nome}}</td>
                  <td data-label="MOTORISTA">{{rota.user}}</td>
                  <td data-label="EMPRESA">{{rota.empresa}}</td>
                  <td data-label="VALOR A PAGAR">💲{{rota.vlr}}</td>
                  <td data-label="VALOR A RECEBER">💲{{rota.receber_vlr}}</td>
                  <td>
                    <a href="/editurota/{{rota.id}}" class="btn btn-warning">📝</a>
                    <a href="/deleteurota/{{rota.id}}" class="btn btn-danger btnDel">🚫</a>
                  </td>
                </tr>
            </tbody>
              {% endfor %}
           </table>
     </div>
     
     <div class="col-8 m-auto pt-3 pb-2 text-center">
     <h1>VEICULOS</h1>
     </div>

     <div class="container">
      <table class="table-resp">
          <thead>
              <tr>
               <th>ID</th>
               <th>MOTORISTA</th>
               <th>NOMES</th>
               <th>AÇÕES</th>
              </tr>
          </thead>
          <tbody>
            {% for carro in carros %}
              <tr>
                <td data-label="ID"><input type="checkbox" name="id_carro" class="check" value="{{carro.id}}"{%if chk %}checked{%endif%}>{{carro.id}}</td>
                <td data-label="MOTORISTA">{{carro.user}}</td>
                <td data-label="NOMES">{{carro.nome}}</td>
                <td>
                  <a href="/editcarro/{{carro.id}}" class="btn btn-warning">📝</a>
                  <a href="/deletecarro/{{carro.id}}" class="btn btn-danger btnDel">🚫</a>
                </td>
              </tr>
          </tbody>
            {% endfor %}
         </table>
   </div>

     <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/users" class="btn btn-primary" id="btn-back">Voltar</a>
      </div> 
</body> 
<script>
  const menu = document.querySelector('.menu');
  const openMenuBtn = document.querySelector('.open-menu-btn');
  const closeMenuBtn = document.querySelector('.close-menu-btn');         

  [openMenuBtn, closeMenuBtn].forEach((btn) => {
    btn.addEventListener('click', () => {
     menu.classList.toggle('open');
     menu.style.transition = 'transform 0.5s ease';
    });
   });

   menu.addEventListener('transitionend', function() {
     this.removeAttribute('style');
   });
  menu.querySelectorAll('.dropdown > i').forEach((arrow) => {
      arrow.addEventListener('click', function(){
        this.closest('.dropdown').classList.toggle('active');
      });
  });
</script>
<script src="{% static 'javascript.js' %}"></script>
</html>
{%else%}
ACESSO RESTRITO!
{%endif%}
