.body {
    background-color: rgba(255, 196, 0, 0.651);
 }
 #h1{
   margin-top: 12%;
 }
 #container-buttons{
    margin-top: 9%;
 }
 .container-search {
  color: rgb(238, 255, 0);
  box-shadow: initial;
  background-color: rgba(10,23,55,0.5);
  margin-top: 9%;
  margin-left: 20%;
  margin-right: 20%;
}
.container-pesquisa{
  color: rgb(238, 255, 0);
  box-shadow: initial;
  background-color: rgba(10,23,55,0.5);
  margin-top: 9%;
  margin-left: 20%;
  margin-right: 20%;
}
 .conteiner-buttons {
  margin-top: 9%;
 }
 .container-menu {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  .header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 10; 
 }
  .header .container-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .logo img{
    vertical-align: middle;
  }
  .header .menu .head{
    display: none;
  }
  .header .menu > ul > li{
    display: inline-block;
  }
  .header .menu > ul > li:not(:last-child){
    margin-right: 40px;
  }
  .header .menu .dropdown{
    position: relative;

  }
  .header .menu a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: black;
    line-height: 1.5;
    display: block;
  }
  .header .menu > ul > li > a{
    padding: 24px 0;
  }
  .header .menu > ul > .dropdown > a{
    padding-right: 15px;
  }
  .header .menu i{
    font-size: 10px;
    pointer-events: none;
    position: absolute;
    color: black;
    top: calc(50% - 5px);
  }
  .header .menu > ul > li > i{
    right: 0;
  }
  .header .menu .sub-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 230px;
    padding: 15px 0;
    background-color: rgba(255, 217, 0, 0.863);
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
    z-index: 1;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    opacity: 0;
  }
  .header .menu li:hover > .sub-menu{
    opacity: 1;
    transform: none;
    visibility: visible;
    transition: all 0.5s ease;
  }
  .header .menu .sub-menu a{
    padding: 6px 20px;
  }
  .header .menu .sub-menu span{
    background-image: linear-gradient(black, black);
    background-size: 0 1px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.5s ease;
  } 
  .header .menu .sub-menu li:hover > a > span{
    background-size: 100% 1px;
  }
  .header .container-menu .logo > a{
    color: blue;
    font-size: 20px;
    margin-left: 8%;
    vertical-align: middle;
  }
  .header-right{
    display: flex;
  }
  .header-right > *{
    margin-left: 25px;
  }
  .header-right .icon-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 25px;
  }
  .header-right .open-menu-btn{
    display: none;
  }
  @media(max-width:991px){
    .container-search {
      color: rgb(238, 255, 0);
      box-shadow: initial;
      background-color: rgba(10,23,55,0.5);
      margin-top: 15%;
      margin-left: 20%;
      margin-right: 20%;
    }
    .header{
      padding: 0px 0;
    }
    .header .menu{
      position: fixed;
      right: 0;
      top: 0;
      width: 320px;
      height: 100%;
      background-color: rgba(255, 217, 0, 0.863);
      padding: 15px 30px 30px;
      overflow-y: auto;
      z-index: 1;
      transform: translateX(100%);
    }
    .header .menu.open{
      transform: none;
    }
    .header .menu .head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .header .menu .close-menu-btn{
      height: 35px;
      width: 35px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
    .header .menu .close-menu-btn::before,
    .header .menu .close-menu-btn::after{
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: black;
    }
    .header .menu .close-menu-btn::before{
      transform: rotate(45deg);
    }
    .header .menu .close-menu-btn::after{
      transform: rotate(-45deg);
    }
    .header .menu > ul > li{
      display: block;
    }
    .header .menu > ul > li:not(:last-child){
      margin-right: 0;
    }
    .header .menu li{
      border-bottom: 1px solid black;
    }
    .header .menu li:first-child{
      border-top: 1px solid black;
    }
    .header .menu > ul > li > a{
      padding: 12px 0;
    }
    .header .menu > ul > .dropdown > a{
      padding-right: 34px;
    }
    .header .menu i{
      height: 34px;
      width: 34px;
      border: 1px solid black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      pointer-events: auto;
      cursor: pointer;
      top: 7px;
    }
    .header .menu .dropdown.active > i{
      background-color: rgba(255, 217, 0, 0.863);
      transform: rotate(180deg);
    }
    .header .menu .sub-menu{
      position: static;
      opacity: 1;
      transform: none;
      visibility: visible;
      padding: 0;
      transition: none;
      box-shadow: none;
      width: 100%; 
      display: none;
    }
    .header .menu .dropdown.active > .sub-menu{
      display: block;
    }
    .header .menu .sub-menu li:last-child{
      border: none;
    }
    .header .menu .sub-menu a{
      padding: 12px 0 12px 15px;
    }
    .header .menu .sub-menu span{
      background-image: none;
    }
    .header .menu .sub-menu i{
      transform: none;
      right: 0;
    }
    .header-right .open-menu-btn{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 44px;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      border: none;
    }
    .header-right .open-menu-btn .line{
      height: 2px;
      width: 30px;
      background-color: black;
      position: absolute;
    }
    .header-right .open-menu-btn .line-1{
      transform: translateY(-8px);
    }
    .header-right .open-menu-btn .line-3{
      transform: translateY(8px);
    }

    .conteiner-buttons{
      margin-top: 18%;
     }    
    
    #container-buttons{
        margin-top: 18%;
    }
    .container-pesquisa{
      color: rgb(238, 255, 0);
      box-shadow: initial;
      background-color: rgba(10,23,55,0.5);
      margin-top: 15%;
      margin-left: 20%;
      margin-right: 20%;
    }  
    #a{
        width: 400px; 
        height: 80px;
        font-size: 30px;
      }
    #h1{
        margin-top: 25%;
    }   
  }