{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Easy Control </title>
    <link rel="icon" type="image/x-icon" href={%static "assets/favicon.ico" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={%static "geral.css"%}>
    
</head>
<style>
  h2 {
    width: 100%;
    text-align: center;
    color: grey;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(10,23,55,0.5);
  }
  @media screen and (max-width: 900px) {
    h2 {
      width: 100%;
      text-align: center;
      color: red;
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: rgba(10,23,55,0.5);
    }
  }
</style>
<header>
 <div class="h1_abastec">
  <a href="/" class=""><h2>FILTRO DE VENDAS</h2></a>
 </div>

</header>
<div class="container-search">
    <div class="col-5 m-auto pt-2 pb-2 text-center">
        <form>
          <label>Data Inicio / Data Final</label>
          <input type="date" name="start_date" class="form-control">
          <input type="date" name="end_date" class="form-control">

          <label>Selecione um cliente:</label></br>
          <select name="cliente_field"> 
           <option value="0"> TODOS </option> 
           <option value="10"> Igor </option>
          </select></br>


          <label>Selecione uma loja:</label></br>
          <select name="loja_field"> 
           <option value="0"> TODOS </option> 
           <option value="1"> RENNER (São Paulo-SP) </option>
           <option value=""> RENNER (Maua-SP) </option>
          </select></br>

          <label>Selecione um tipo de pagamento:</label></br>
          <select name="pg_field"> 
           <option value="0"> TODOS </option>
           <option value="1"> DEBITO </option>
           {% for users in us %} 
           <option value={{users.username}}> {{users.username}} </option>
           {%endfor%}
          </select></br>

          <label>Selecione um sexo:</label></br>
          <select name="sexo_field"> 
           <option value="TODOS"> TODOS </option>
           <option value="Masculino"> Masculino </option>
           <option value="Feminino"> Feminino </option>
           {% for users in us %} 
           <option value={{users.username}}> {{users.username}} </option>
           {%endfor%}
          </select></br>

          <label>Selecione um fornecedor:</label></br>
          <select name="forn_field"> 
           <option value="TODOS"> TODOS </option>
           {% for users in us %} 
           <option value={{users.username}}> {{users.username}} </option>
           {%endfor%}
          </select></br>

          <label>Selecione uma promoção:</label></br>
          <select name="promo_field"> 
           <option value="0"> TODOS </option>
           <option value="1"> HALLOWEEN </option>
           {% for users in us %} 
           <option value={{users.username}}> {{users.username}} </option>
           {%endfor%}
          </select></br>

         <div class="col-5 m-auto pt-2 pb-2"> 
         <button type="submit" class="btn btn-success" id="btn-search" style="background-color:red; border-color:black;">PESQUISAR</button>
       </form>
       </div>
      </div>
</div>

<body background="https://i.imgur.com/0QUBkWV.jpg">
     
  <div class="container">
    <table class="table-resp">
        <thead>
            <tr>
             <th>DATA</th>
             <th>ID VENDA</th>
             <th>LOJA</th>
             <th>ID CLIENTE</th>
             <th>ID PAGAMENTO</th>
             <th>PROMOÇÃO</th>
             <th>CPF</th>
             <th>SKU PRODUTO</th>
             <th>FORNECEDOR</th>
             <th>VALOR TOTAL</th>
             <th>NOME</th>
             <th>SEXO</th>
            </tr>
        </thead>
          <tbody>
          {% for venda in vendas%}
            <tr>
              <td data-label="DATA">{{venda.data_vnd}}</td>
              <td data-label="ID VENDA"><input type="checkbox" name="id_venda" class="check" value="{{venda.cod_vnd}}"{%if chk %}checked{%endif%}>{{venda.cod_vnd}}</td>
              <td data-label="LOJA">{{venda.cod_loja.desc_loja}}</td>
              <td data-label="ID CLIENTE">{{venda.cod_cliente}}</td>
              <td data-label="ID PAGAMENTO">{{venda.cod_pag}}</td>
              <td data-label="PROMOÇÃO">{{venda.cod_promo.nome_promo}}</td>
              <td data-label="CPF">{{venda.cpf_cliente}}</td>
              <td data-label="SKU PRODUTO">{{venda.sku_prod}}</td>
              <td data-label="FORNECEDOR">{{venda.sku_prod.cod_for.desc_for}}</td>
              <td data-label="VALOR TOTAL">💲{{venda.valor_total}}</td>
              <td data-label="NOME">{{venda.cod_cliente.nome_cliente}}</td>
              <td data-label="SEXO">{{venda.cod_cliente.sexo_cliente}}</td>
            </tr>
          {% endfor %}
        </tbody>
       </table>


     <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-primary" id="btn-back">Voltar</a>
        <a href="/cad_abastecimento" class="btn btn-success" id="btn-add">Adicionar</a>
      </div> 
</body> 
<script src="{% static 'javascript.js' %}"></script>
</html>
