{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Easy Control </title>
    <link rel="icon" type="image/x-icon" href={%static "assets/favicon.ico" %}>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href={%static "geral.css"%}>
    
</head>
<style>
  h2 {
    width: 100%;
    text-align: center;
    color: red;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(238, 255, 0, 0.658);
  }
  @media screen and (max-width: 900px) {
    h2 {
      width: 100%;
      text-align: center;
      color: red;
      font-size: 50px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color: rgba(238, 255, 0, 0.658);
    }
  }
</style>
<header>
 <div class="h1_abastec">
  <a href="/inicio" class=""><h2>CARTEIRA DE CLIENTES</h2></a>
 </div>
</header>
<div class="container-search">
    <div class="col-5 m-auto pt-2 pb-2 text-center">
        <form>
           <label>Selecione um motorista:</label></br>
             <select name="moto_field"> 
              <option value="TODOS"> TODOS </option>
              {% for users in us %} 
              <option value={{users.username}}> {{users.username}} </option>
              {%endfor%}
             </select></br>
     
         <label>Data Inicial</label>
         <input type="date" name="start_date" class="form-control">
         <label>Data Final</label>
         <input type="date" name="end_date" class="form-control">
       
         <div class="col-5 m-auto pt-2 pb-2"> 
         <button type="submit" class="btn btn-success" id="btn-search" style="background-color:red; border-color:black;">PESQUISAR</button>
       </form>
       </div>
      </div>
</div>

<body background="https://i.imgur.com/0QUBkWV.jpg">
     <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/inicio" class="btn btn-primary" id="btn-back">Voltar</a>
        <a href="/cad_abastecimento" class="btn btn-success" id="btn-add">Adicionar</a>
      </div> 
</body> 
<script src="{% static 'javascript.js' %}"></script>
</html>
